.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 20px;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #5636d3;
      color: #fff;
      font-size: 20px;
    }

    tbody tr {
      background-color: #fff;
      text-align: center;
      border: 15px solid #f7efef;
      border-radius: 5px;
      color: #4c6d6d;
    }

    td, th {
      padding: .75rem;
      vertical-align: top;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .btn {
    width: 70px;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #0000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .button-info {
    color: #17a2b8;
    background-color: #0000;
    background-image: none;
    border-color: #17a2b8;

    &:hover {
    color: #fff;
    background-color: #17a2b8;
    background-image: none;
    border-color: #17a2b8;
    }
  }

  .button-danger {
    color: #dc3545;
    background-color: #0000;
    background-image: none;
    border-color: #dc3545;
    padding: 6px;
    margin-left: 5px;

    &:hover {
      color: #fff;
      background-color: #dc3545;
      background-image: none;
      border-color: #dc3545;
    }
  }
}
