.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 20px;

  .card-header {
    font-size: 35px;
  }

  .form-group {
    margin: 26px 0;
  }

  form {
    animation: animated 1s ease-in-out;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

}
