@keyframes animated {
  0% {
    right: -120px;
  }

  100% {
    right: 0px;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px;

  .card-header {
    font-size: 35px;
  }

  .form-group {
    margin: 26px 0;
  }

  form {
    animation: animated 1s ease-in-out;
  }

}
