.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 32px;
  margin-top: -150px;

  .content {
    background: #ccdeef;
    padding: 22px 32px;
    border-radius: 5px;
    color: #363F5F;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      margin-top: 14px;
      font-size: 36px;
      font-weight: normal;
      line-height: 54px;
    }

  }

  .income {
    background: #3fc15b;
    color: #ffff;
  }

  .outcome {
    background: #6d7fbf;
    color: #fff;
  }

  .balance {
    background: #de5a39;
    color: #ccdeef;
  }
}
