* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #f7efef ;
  -webkit-font-smoothing: antialiased
}

body, input, button {
  font: 16px "Roboto Slab", "Poppins", serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}
button {
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  width: 70px;
  padding: .25rem .5rem;
  line-height: 1.5;
  border-radius: .2rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #0000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-info {
  color: #17a2b8;
  background-color: #0000;
  background-image: none;
  border-color: #17a2b8;

  &:hover {
  color: #fff;
  background-color: #17a2b8;
  background-image: none;
  border-color: #17a2b8;
  }
}

.button-danger {
  color: #dc3545;
  background-color: #0000;
  background-image: none;
  border-color: #dc3545;
  padding: 6px;
  margin-left: 5px;

  &:hover {
    color: #fff;
    background-color: #dc3545;
    background-image: none;
    border-color: #dc3545;
  }
}
