<div class="container">
  <app-card-information></app-card-information>

  <app-bread-crumb
    [items]="[{text: '/ Lista de Compras'}]"
  ></app-bread-crumb>

  <table>
    <thead>
      <tr class="bg-primary text-light">
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor R$</th>
        <th>Valor R$</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Produto</strong></td>
        <td><strong>10</strong></td>
        <td><strong>R$ 12,90</strong></td>
        <td><strong>R$ 12,90</strong></td>
        <td><strong>10</strong></td>
      </tr>
      <tr class="dois">
        <td>Produto</td>
        <td>10</td>
        <td>R$ 12,90</td>
        <td>R$ 12,90</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Produto</td>
        <td>10</td>
        <td>R$ 12,90</td>
        <td>R$ 12,90</td>
        <td>10</td>
      </tr>
      <tr class="dois">
        <td>Produto</td>
        <td>10</td>
        <td>R$ 12,90</td>
        <td>R$ 12,90</td>
        <td>10</td>
      </tr>
    </tbody>
</table>
</div>
