<div class="container">
  <div class="content">
    <div class="header">
      <img src="../../../../assets/logo.svg" alt="">
      <a class="title-logo" routerLink="/">Lista de compras</a>

      <nav class="nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Lista de Compras</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/products">Produtos</a>
        </li>
      </nav>
    </div>

    <div class="profile">
      <a>
        <img src='http://static.asianetnews.com/img/default-user-avatar.png' alt="Usuário">
      </a>

      <div class="user-profile">
        <span>Bem vindo,</span>
        <a><strong>Nome usuário</strong></a>
      </div>
    </div>
  </div>
</div>

