<div class="container">
  <div class="content">
    <div class="logo">
      <img src="../../../../assets/logo.svg" alt="">
      <a class="title-logo" routerLink="/">Lista de compras</a>

      <div class="profile">
        <a>
          <img src='http://static.asianetnews.com/img/default-user-avatar.png' alt="Usuário">
        </a>

        <div class="user-profile">
          <span>Bem vindo,</span>
          <a><strong>Nome usuário</strong></a>
        </div>
      </div>
    </div>

    <nav class="nav">
      <a class="nav-link" routerLink="/users">Meu perfil</a>
      <a class="nav-link" routerLink="/products">Produtos</a>
      <a class="nav-link" routerLink="/shopping-list">Lista de Compras</a>
    </nav>
    <i class="fas fa-ban"></i>
  </div>
</div>

